.col-style {
  display: flex;
  align-items: center;
  padding-right: 5px;
}

.label-posicao {
  float: left;
  margin-right: 10px;
}

.box-gols {
  background-color: #FF6600;
  border-radius: 15px;
  padding: 0px 8px 0px 8px;
  float: right;
  border: 1.5px solid white;
  font-size: 16px;
}

.img-30 {
  width: 30px;
  height: 30px;
}

.alinha-escudo {
  text-align: end;
}

.label-nome {
  font-size: 18px;
  font-weight: initial;
  margin-bottom: 5px !important;
}
 .label-descricao {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 0px !important;
 }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .img-30 {
    width: 24px;
    height: 24px;
  }

  .box-gols {
    background-color: #FF6600;
    border-radius: 15px;
    padding: 0px 6px 0px 6px;
    float: right;
    border: 1.5px solid white;
    font-size: 12px;
  }

  .label-nome {
    font-size: 14px;
    font-weight: initial;
    margin-bottom: 0px !important;
  }
  .label-descricao {
    font-size: 12px;
    font-weight: lighter;
    margin-top: 11px;
    margin-bottom: 0px !important;
   }
}
