<div class="min-height-500">
  <div class="row margin-top-10" *ngFor="let item of listaDados">
    <div class="col-lg-3 col-md-2 col-sm-2"></div>

    <div class="col-lg-6 col-md-8 col-sm-8">
      <mat-card class="click" (click)="abreTelaUsuarioPorPalpite(item)">
        <mat-card-content class="font-size-16">

          <div class="row" style="text-align: center;">
            <div class="col-3">
              <img class="img-75" src="{{partidaSelecionada.imgLogoMandante}}"/>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-12">
                  <img class="img-30" src="assets/img/ic_dados.png"/>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="margin-bottom-0">{{item.placarPalpite}}</label>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="margin-bottom-0" *ngIf="item.totalPlacar === 1">1 palpite</label>
                  <label class="margin-bottom-0" *ngIf="item.totalPlacar > 1">{{item.totalPlacar}} palpites</label>
                </div>
              </div>
            </div>
            <div class="col-3">
              <img class="img-75" src="{{partidaSelecionada.imgLogoVisitante}}"/>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-2"></div>
  </div>
  <div *ngIf="listaDados.length === 0">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-2"></div>
      <div class="col-lg-6 col-md-8 col-sm-8">
        <div class="div-label-tabs">
          <label>Ops! Nenhum dado para exibir 😕.</label>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-2"></div>
    </div>
  </div>
</div>
