<div class="min-height-500">
  <div class="row margin-top-10">
    <div class="col-lg-3 col-md-2 col-sm-2"></div>
    <div class="col-lg-6 col-md-8 col-sm-8 click">

      <mat-card class="margin-3">
        <mat-card-header>
          <mat-card-title>Conecte seus amigos ao Pitaco FC</mat-card-title>
        </mat-card-header>
        <mat-card-content class="font-size-16">
          <div class="card-form">
            <form [formGroup]="convidarAmigosForm" (ngSubmit)="submit()">
              <p>
                <mat-form-field>
                  <input type="text" matInput placeholder="E-mail" formControlName="emailAmigo" maxlength="40" />
                  <mat-error *ngIf="convidarAmigosForm.controls.emailAmigo.invalid"><strong>Informe o e-mail para enviar o convite</strong></mat-error>
                </mat-form-field>
              </p>

              <div class="button">
                <button type="submit" mat-raised-button class="button-enviar" [disabled]="!convidarAmigosForm.valid">
                  <mat-icon>send</mat-icon>
                  <label class="label-button">ENVIAR</label>
                </button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-lg-3 col-md-2 col-sm-2"></div>
  </div>
</div>
