.mat-form-field {
  width: 100%;
}

.button-enviar {
  background-color: #D6D8D7;
  width: 100%;
  border-radius: 23px;
  border: 2px solid #888888;
}

.button-enviar .mat-icon{
  float: left;
  margin-top: 10px;
}

.button-enviar .label-button{
  margin: 3px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: white !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #FAFAFA !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #FAFAFA !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #1976d2; /*replace with your color*/
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #78c1ff;
}

.img-mat-option {
  margin-top: -7px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.col-12-grupo {
  padding-bottom: 5px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.row-center {
  position: absolute; top: 28%; font-size: 18px;
}
