<div class="min-height-500-app">
  <div *ngFor="let item of listaRanking">
    <div class="row" (click)="abreTela(item)">
      <div class="col-lg-3 col-md-2 col-sm-2"></div>
      <div class="col-lg-6 col-md-8 col-sm-8 margin-top-5">

        <mat-card class="click">
          <mat-card-content class="font-size-16">
            <div class="row">
              <div class="col-3 col-style">
                <label class="label-posicao">{{item.posicao}}</label>
                <img class="img-60" src="{{item.urlImagem}}" />
              </div>
              <div class="col-7">
                <div class="row">
                  <div class="col-12 padding-left-5">
                    <label>{{item.nomeUsuario}}</label>
                  </div>
                </div>
                <div class="row margin-top">
                  <div class="col-3 padding-left-5">
                    <div class="row">
                      <div class="col-6 col-style">
                        <img class="img-20" src="assets/img/ic_medalha_ouro.png" />
                      </div>
                      <div class="col-6 padding-0">
                        <label class="label-acerto">{{item.acertoCincoPontos}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 padding-left-5">
                    <div class="row">
                      <div class="col-6 col-style">
                        <img class="img-20" src="assets/img/ic_medalha_prata.png" />
                      </div>
                      <div class="col-6 padding-0">
                        <label class="label-acerto">{{item.acertoTresPontos}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 padding-left-5">
                    <div class="row">
                      <div class="col-6 col-style">
                        <img class="img-20" src="assets/img/ic_medalha_bronze.png" />
                      </div>
                      <div class="col-6 padding-0">
                        <label class="label-acerto">{{item.acertoUmPonto}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-3 padding-left-5">
                    <div class="row">
                      <div class="col-6 col-style">
                        <img class="img-20" src="assets/img/logo_app.png" />
                      </div>
                      <div class="col-6 padding-0">
                        <label class="label-acerto">{{item.acertoPontuou}}</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                <label class="box-pontos">{{item.pontos}}</label>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-2"></div>
    </div>
  </div>
  <div *ngIf="listaRanking.length === 0" class="min-height-500">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-2"></div>
      <div class="col-lg-6 col-md-8 col-sm-8">
        <div class="div-label-tabs">
          <label>Selecione uma liga no menu para visualizar o ranking.</label>
        </div>
      </div>
      <div class="col-lg-3 col-md-2 col-sm-2"></div>
    </div>
  </div>
</div>
